/* Hide scrollbar but keep scroll functionality */
.todos-container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional */
}

.todos-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
@media  screen and (max-width: 1025px) {
    .main{
      width: 100vw;
      margin-top: 0;
      height: 100vh;
    }
   
}
